{% extends "base.html" %}

{% block main %}

<h1>Secure Page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Nam tempore magni dolor maiores atque provident explicabo dicta pariatur culpa corporis fugiat, 
cupiditate facere iste, distinctio blanditiis, beatae, animi iure inventore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Quis repellendus iste quam distinctio necessitatibus veritatis, amet sunt rem commodi natus asperiores incidunt hic architecto ducimus tenetur. 
Impedit fuga voluptas rem.</p>

{% endblock %}